<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        .errorStyle {color: red; font-family: "Comic Sans MS",fantasy}
    </style>
    <title>Customer Registration Page</title>
</head>
<body>
    <form th:action="@{/processForm}" method="POST" th:object="${customer}">
        Firstname: <input type="text" th:field="*{firstName}" />
        <br>
        Lastname(*): <input type="text" th:field="*{lastName}" />
        <!-- Add error message, if present -->
        <span th:if="${#fields.hasErrors('lastName')}"
              th:errors="*{lastName}"
              class="errorStyle"></span>
        <br>
        <button type="submit">Subscribe now!!!!!</button>
    </form>
</body>
</html>