<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="emp : ${employees}">
            <td th:text="${emp.id}" />
            <td th:text="${emp.firstName}" />
            <td th:text="${emp.lastName}" />
            <td th:text="${emp.email}" />
        </tr>
    </tbody>
</table>
</body>
</html>