<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        span:first-of-type {
            color: red;
            font-family: fantasy,"Comic Sans MS",serif;
            font-style: italic;
        }
    </style>
    <title>Custom Logic Page</title>
</head>
<body>
    <h3>My Custom Logic Page</h3>
    <span th:if="${param.error}">Wrong username/password!</span>
    <form th:action="@{/authenticateTheUser}" method="POST">
        <p>User Name: <input name="username"/></p>
        <p>Password: <input type="password" name="password" /></p>
        <button type="submit">ポッチ♡</button>
    </form>
</body>
</html>