<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
    <form th:action="@{processStudentForm}" th:object="${student}" th:method="POST">
        <ul>
            <li>Firstname: <input type="text" th:field="*{firstName}" /></li>
            <li>Lastname: <input type="text" th:field="*{lastName}" /></li>
            <li>
                <select th:field="*{country}">
                    <option th:each="tmpCountry : ${countries}"
                            th:value="${tmpCountry}" th:text="${tmpCountry}"/>
                <!-- Hardcoding
                    <option th:value="Ireland">Ireland</option>
                    <option th:value="Spain">Spain</option>
                    <option th:value="Ukraine">Ukraine</option>
                    <option th:value="Mongolia">Mongolia</option>
                -->
                </select>
            </li>
            <li> Favorite Programming Language: 
                <input type="radio" th:each="tmpLang : ${languages}"
                       th:text="${tmpLang}" th:value="${tmpLang}"
                       th:field="*{favoriteLanguage}" />
                <!-- Hardcoding
                <input type="radio" th:field="*{favoriteLanguage}"
                       th:text="Java" th:value="Java">
                <input type="radio" th:field="*{favoriteLanguage}"
                       th:text="Go" th:value="Go">
                <input type="radio" th:field="*{favoriteLanguage}"
                       th:text="Rest" th:value="Rest">
               -->
            </li>
        </ul>

        <button type="submit">PO⭐︎CHI</button>
    </form>
</body>
</html>